<p class="ff-fira lista-texto">Listagem de Jogadores</p>
<div class="botao-container">
    <button  class="botao ff-fira">Cadastrar</button>
    <button  class="botao ff-fira">Excluir</button>
    <button  class="botao ff-fira">Atualizar</button>
</div>
<div class="cards">
    <div class="borda" *ngFor="let jogador of listaJogadores">
        <p class="ff-fira">Nome:{{jogador.nome}}</p>
        <p class="ff-fira">Idade:{{jogador.idade}}</p>
        <p class="ff-fira">Posição:{{jogador.posicao}}</p>
        <p class="ff-fira">Pé:{{jogador.pe}}</p>
        <p class="ff-fira">Fornecedor:{{jogador.fornecedor}}</p>
    </div>
</div>