<p class="ff-fira lista-texto">Listagem de Jogadores</p>
<div class="botao-container">
    <app-botao routerLink="/cadastrar-jogadores" [titulo]="cadastrar"></app-botao>
    <app-botao routerLink="/cadastrar-jogadores" [titulo]="editar"></app-botao>
    <app-botao routerLink="/cadastrar-jogadores" [titulo]="excluir"></app-botao>
</div>
<div class="cards">
    <div class="borda" *ngFor="let jogador of listaJogadores">
        <p class="ff-fira">Nome:{{jogador.nome}}</p>
        <p class="ff-fira">Idade:{{jogador.idade}}</p>
        <p class="ff-fira">Posição:{{jogador.posicao}}</p>
        <p class="ff-fira">Pé:{{jogador.pe}}</p>
        <p class="ff-fira">Fornecedor:{{jogador.fornecedor}}</p>
    </div>
</div>