/* Estilo padrão */
.lista-texto {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

.botao-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0 1rem;
    margin-top: 150px;
}

.borda {
    border: 1px solid white;
    padding: 1.5rem;
    border-radius: 5px;
    margin: auto;
}

/* Media query para telas menores, como celulares */
@media only screen and (max-width: 600px) {
    .lista-texto {
        font-size: 24px; /* Reduza o tamanho da fonte */
        margin-top: 30px; /* Ajuste a margem superior */
    }

    .botao-container {
        flex-direction: column; /* Coloque os botões em uma coluna */
        align-items: center; /* Alinhe os botões ao centro */
    }

    .cards {
        margin-top: 100px; /* Ajuste a margem superior */
    }

    .borda {
        width: 80%; /* Utilize a largura máxima disponível */
        margin-bottom: 20px; /* Ajuste a margem inferior */
    }
}
