/* Estilo padrão */
.cabecalho {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.cabecalho p {
    font-size: 1.5rem;
    color: white;
}

.lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lista li {
    list-style: none;
    margin-right: 20px; /* Reduzi a margem para economizar espaço em telas menores */
}

.lista li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    .cabecalho {
        padding: 1rem; /* Ajuste o preenchimento para economizar espaço */
    }

    .cabecalho p {
        font-size: 1.2rem; /* Reduza o tamanho da fonte */
    }

    .lista li {
        margin-right: 10px; /* Reduza a margem ainda mais para economizar espaço */
    }

    .lista li a {
        font-size: 1rem; /* Reduza o tamanho da fonte para links */
    }
}
