/* Estilo padrão */
.cabecalho {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.cabecalho p {
    font-size: 1.5rem;
    color: white;
}

.lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lista li {
    list-style: none;
    margin-right: 20px; /* Reduzi a margem para economizar espaço em telas menores */
}

.lista li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/* Consulta de mídia para telas menores */
@media screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: row; /* Empilha os elementos verticalmente */
        align-items: flex-start; /* Alinha os itens à esquerda */
    }

    .lista {
        margin-top: 10px; /* Espaçamento superior para separar do título */
        justify-content: flex-start; /* Alinha os itens à esquerda */
    }

    .lista li {
        margin-right: 10px ; /* Remove a margem direita para evitar quebras de linha */
        margin-bottom: 10px; /* Adiciona espaçamento entre os itens */
    }
}

/* Consulta de mídia para telas pequenas, como celulares */
@media screen and (max-width: 480px) {
    .cabecalho {
        flex-direction: row; /* Empilha os elementos verticalmente */
        align-items: flex-start; /* Alinha os itens à esquerda */
        padding: 20px;
    }

    .lista {
        margin-top: 10px; /* Espaçamento superior para separar do título */
        justify-content: flex-start; /* Alinha os itens à esquerda */
    }

    .lista li {
        margin-right: 25px; /* Remove a margem direita para evitar quebras de linha */
        margin-bottom: 10px; /* Adiciona espaçamento entre os itens */
    }

    .cabecalho p {
        margin-right: 20px; /* Adiciona espaçamento abaixo do título */
        font-size: 20px;
    }

    .lista li a {
        margin-right: 15px;
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
}

