<p class="ff-fira">
    Este projeto foi criado com o intuito de treinar os meus conhecimento em Angular 
    Utilizando de sistema de Rotas e Requisições a API. A API usada para criação desse
    projeto foi em JAVA com SpringBoot e foi construida por mim para aprendizado proprio 

    O tema escolhido para estas 2 aplicações foi a minha paixão de criança, Sou um Fã de Futebol
    desde pequeno e acredito que foi isso que fez eu me manter durante tanto tempo trabalhando nesse projeto.
</p>
<img src="../../../assets/cavani.jpg">