<section class="container">
    <section class="box">
        <p class="ff-fira texto">
            Este projeto foi concebido com o objetivo de aprimorar minha proficiência em Angular. Nele, explorei o uso
            de sistemas de roteamento e requisições à API. A API em questão, fundamental para o desenvolvimento deste
            projeto, foi criada por mim, utilizando a linguagem JAVA em conjunto com o framework SpringBoot,
            tudo isso em busca de um aprendizado mais profundo e personalizado.
            O mote que norteou a concepção destas duas aplicações reflete uma paixão que me acompanha desde a infância:
            o futebol. Sou um entusiasta fervoroso deste esporte desde tenra idade e acredito que essa paixão tenha sido
            o motor que me impulsionou a dedicar tanto tempo e esforço a este projeto.
        </p>
    </section>
    <img class="imagem" src="../../../assets/cavani.jpg">
</section>