<p class="ff-fira titulo">Dados de Cadastro de Jogador</p>
<body>
    <form (ngSubmit)="criarJogador(f)" class="formulario" #f="ngForm">
        <!--
            Nome do Jogador
        -->
        <label class="campo ff-fira" for="nome">Nome</label>
        <input name="nome ff-fira" id="nome" class="campo-escrita" [(ngModel)]="jogador.nome" required minlength="2" #nome="ngModel">
        <div *ngIf="(nome?.invalid && nome?.touched) || nome?.dirty">
            <app-mensagem *ngIf="nome?.errors?.['required']" mensagem="O Campo de nome deve ser preenchido"></app-mensagem>
            <app-mensagem *ngIf="nome?.errors?.['minlength']" mensagem="O Campo deve ter no minimo 2 caracteres"></app-mensagem>
        </div>
         <!--
            Idade
        -->
        <label class="campo ff-fira" for="idade">Idade</label>
        <input name="idade" id="idade" class="campo-escrita" [(ngModel)]="jogador.idade" required #idade="ngModel">
        <div *ngIf="(idade?.invalid && idade?.touched) || idade?.dirty">
            <app-mensagem *ngIf="idade?.errors?.['required']" mensagem="O Campo de idade deve ser preenchido"></app-mensagem>
        </div>
        <!--
            Fornecedor
        -->
        <label class="campo ff-fira" id="fornecedor">Fornecedor</label>
        <input name="fornecedor" id="fornecedor" class="campo-escrita" [(ngModel)]="jogador.fornecedor" required minlength="2" #fornecedor="ngModel">
        <div *ngIf="(fornecedor?.invalid && fornecedor?.touched) || fornecedor?.dirty">
            <app-mensagem *ngIf="fornecedor?.errors?.['required']" mensagem="O Campo de fornecedor deve ser preenchido"></app-mensagem>
            <app-mensagem *ngIf="fornecedor?.errors?.['minlength']" mensagem="O Campo deve ter no minimo 2 caracteres"></app-mensagem>
        </div>
        <!--
            Posição
        -->
        <label class="campo ff-fira" id="posicao">Posição</label>
        <select id="posicao" name="posicao" class="campo-escrita" [(ngModel)]="jogador.posicao" required #posicao="ngModel">
            <option class="ff-fira" value="Goleiro">Goleiro</option>
            <option class="ff-fira" value="LateralDireito">Lateral Direito</option>
            <option class="ff-fira" value="LateralEsquerdo">Lateral Esquerdo</option>
            <option class="ff-fira" value="Zagueiro">Zagueiro</option>
            <option class="ff-fira" value="Volante">Volante</option>
            <option class="ff-fira" value="MeioCampista">Meio Campo</option>
            <option class="ff-fira" value="PontaEsquerda">Ponta Esquerda</option>
            <option class="ff-fira" value="PontaDireito">Ponta Direito</option>
            <option class="ff-fira" value="CentroAvante">Centroavante</option>
          </select>
          <div *ngIf="(posicao?.invalid && posicao?.touched) || posicao?.dirty">
            <app-mensagem *ngIf="posicao?.errors?.['required']" mensagem="O Campo de posição é obrigátorio"></app-mensagem>
          </div>
        <!--
            Pé
        -->
        <label class="campo ff-fira" id="pe">Pé</label>
        <select id="pe" name="pe" class="campo-escrita" [(ngModel)]="jogador.pe" required #pe="ngModel">
            <option class="ff-fira" value="DIREITO">DIREITO</option>
            <option class="ff-fira" value="ESQUERDO">ESQUERDO</option>
          </select>
          <div *ngIf="(pe?.invalid && pe?.touched) || pe?.dirty">
            <app-mensagem *ngIf="pe?.errors?.['required']" mensagem="O Campo de Pé é obrigátorio"></app-mensagem>
          </div>
        
        <app-botao [titulo]="cadastrar"></app-botao>
    </form>
</body>
