/* Estilo padrão */
.titulo {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.formulario {
    text-align: center;
    max-width: 400px;
    margin: 0 auto; /* Adicione esta linha para centralizar o formulário */
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
}

.campo-escrita {
    padding: 0.9em;
    border: solid;
    border-width: 3px;
    border-radius: 30px;
    color: white;
    width: 100%;
    box-sizing: border-box; /* Adicione esta linha para garantir que a largura inclua padding e borda */
}

.botao {
    font-size: 1rem;
    color: white;
    width: 250px;
    padding: 1.5rem;
    margin: 0 auto;
    border: solid;
    border-width: 3px;
    border-radius: 30px;
    margin-top: 45px;
}

/* Media query para telas menores, como celulares */
@media only screen and (max-width: 600px) {
    .titulo {
        font-size: 24px;
        margin-bottom: 60px;
    }

    .formulario {
        max-width: 100%;
    }

    .campo-escrita {
        width: 100%;
    }

    .botao {
        width: 80%;
    }
}
